*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/prototype/JAVAFX/application/SchedulerChaseVersion/nbproject/private/
/prototype/JAVAFX/application/SchedulerChaseVersion/dist/
/prototype/JAVAFX/application/SchedulerChaseVersion/build/
/prototype/JAVAFX/application/JavaFXApplication2/nbproject/private/
/prototype/JAVAFX/application/JavaFXApplication2/dist/
/prototype/JAVAFX/application/JavaFXApplication2/build/